<link href="~/Content/review.css" rel="stylesheet" />
<style>
    body{
        background-color:white;
    }
    .container{
        max-width:1500px;
        padding-top:30px;

    }
    .courses_details_banner {
        background-image: url(../images/banner/banner2.jpg);
    }

    .breadcam_bg {
        background-image: url(../images/banner/banner2.jpg);
    }

    .slider_bg_1 {
        background-image: url(../images/banner/banner2.jpg);
    }
</style>

<div class="bradcam_area breadcam_bg overlay1">
    <h3 style="margin-top:0">
        Giới thiệu website bán hàng online
    </h3>
</div>
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Nếu bạn có sử dụng Layout
}

<div class="container">
    <h2>Giới thiệu về chúng tôi</h2>
    <p>Chào mừng bạn đến với website bán bánh kẹo của chúng tôi! Chúng tôi tự hào là địa chỉ đáng tin cậy để bạn tìm kiếm những món bánh và kẹo tuyệt vời.</p>

    <h3>Đam mê về bánh kẹo</h3>
    <p>Chúng tôi đặt nền tảng trên niềm đam mê với bánh kẹo. Chúng tôi tìm kiếm và chọn lọc những món ngọt tuyệt hảo từ khắp nơi trên thế giới để mang đến cho bạn những trải nghiệm thưởng thức đáng nhớ.</p>

    <h3>Sự đa dạng và chất lượng</h3>
    <p>Chúng tôi tự hào có một bộ sưu tập đa dạng các loại bánh và kẹo. Từ những chiếc bánh ngọt truyền thống đến những món bánh sáng tạo và đầy sáng tạo, từ những viên kẹo socola ngọt ngào đến những loại kẹo trái cây tươi mát - chúng tôi mang đến sự lựa chọn phong phú cho mọi khẩu vị.</p>

    <h3>Chất lượng và tận tâm</h3>
    <p>Chúng tôi cam kết mang đến chất lượng tốt nhất cho sản phẩm của mình. Từ nguyên liệu tươi ngon và chọn lọc, quy trình sản xuất nghiêm ngặt, đến việc đóng gói và vận chuyển an toàn - chúng tôi chăm sóc từng chi tiết để đảm bảo bạn nhận được những món ngọt tuyệt vời và an toàn.</p>

    <h3>Hãy khám phá thế giới của chúng tôi</h3>
    <p>Hãy khám phá bộ sưu tập đa dạng và phong phú của chúng tôi và tìm kiếm những món ngọt yêu thích của bạn. Chúng tôi hy vọng rằng website của chúng tôi sẽ mang đến cho bạn niềm vui và trải nghiệm thưởng thức tuyệt vời.</p>

    <h3>Liên hệ với chúng tôi</h3>
    <p>Nếu bạn có bất kỳ câu hỏi, ý kiến hoặc yêu cầu nào, đừng ngần ngại liên hệ với chúng tôi. Đội ngũ chăm sóc khách hàng của chúng tôi sẽ sẵn lòng hỗ trợ bạn. Hãy để chúng tôi mang đến niềm vui từ những món bánh và kẹo tuyệt vời của chúng tôi cho bạn.</p>

    <p>Liên hệ với chúng tôi:</p>
    <ul>
        <li>Email: vominhday1@gmail.com</li>
        <li>Số điện thoại: 0363-066-401</li>
        <li>Địa chỉ: HCM</li>
    </ul>
</div>


