
.slider_bg_1 {
    background-image: url(../images/banner/banner2.jpg);
}

.courses_details_banner {
    background-image: url(../images/banner/banner2.jpg);
}

body {
    background-color: #bec0d3;
}

.header-area .main-header-area.sticky {
    background: linear-gradient(to right, #14071e 0%, #c07511 100%);
}

.footer_bg_1 {
    background-image: url(../images/banner/banner3.jpg);
}

element.style {
}

.subscribe_newsletter {
    background: #d2b404;
}

.arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Khoảng cách từ đoạn văn bản xuống mũi tên */
}

/*////*/

.icon_review {
    position: relative;
    cursor: pointer;
}

.toggle-icon {
    margin-left: 5px;
}

.icon_review:hover .toggle-icon {
    transform: rotate(180deg);
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
}
/*//*//**/


.toggle-order {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.toggle-icon {
    margin-left: 5px;
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
}
